[submodule "rtrouton"]
	path = rtrouton
	url = https://github.com/rtrouton/profiles
[submodule "opragel"]
	path = opragel
	url = https://github.com/opragel/profiles
[submodule "amsysuk"]
	path = amsysuk
	url = https://github.com/amsysuk/public_config_profiles
